#title {
    height: 40px;
    border-bottom: 1px solid #5381d6;
}

#grade_selecter{
    margin: 10px 0;
    border: 3px solid #16c952;
    border-collapse: collapse;
    width: 115px;
    height: 30px;
    border-radius: 5px;
}

#table_position{
    margin: 10px 122px;
}
#curri_table{
    border-radius: 5px;
}
#table_header{
    height: 60px;
    background-color: #46af65;
    font-weight: 600;
}
#table_grade{
    background-color: #a1c0aa;
    border-radius: 5px;
}
#table_semester{
    background-color: #d7eaec;
    border-radius: 5px;
}