* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 5%;
}

#title {
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
}
#title > h3 {
    line-height: 40px;
}

#condition {
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    width: 100%;
    height: 40px;
}
#condition > tbody > tr > * {
    border-right: 1px solid #dddddd;
    padding: 4px;
}
#condition > tbody > tr > th {
    width: 13%;
    background-color: #fafafa;
    color: #12235a;
    text-align: center;
    font-weight: 600;
}
#condition > tbody > tr > td {
    width: 20%;
}
#condition > tbody > tr > td > * {
    height: 26px;
}
#condition > tbody > tr > td > input {
    padding: 0 4px;
    width: 96%;
    cursor: not-allowed;
}
#condition > tbody > tr > td > button {
    width: 3em;
    background-color: #414a5f;
    color: #ffffff; 
    font-weight: 600;
    cursor: pointer;
}

.subjects_info {
    margin: 1% auto;
    width: 234px;
}

.subjects {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.subjects > tbody > tr > * {
    border: 1px solid #dddddd;
    padding: 4px;
    text-align: center;
}
.subjects > tbody > tr > .code {
    width: 4em;
}
.subjects > tbody > tr > .subject_name {
    text-align: left;
}
.subjects > tbody > tr > .professor {
    width: 4em;
}
.subjects > tbody > tr > .credit {
    width: 2em;
}
.subjects > tbody > tr > .select {
    width: 2em;
}
.subjects > tbody > tr > .select > button {

}